
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
}


.app-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}


.card {
  background: #ffffff;
  width: 300px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.card h1 {
  font-size: 40px;
  margin-bottom: 20px;
}


.btn-box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}


button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:nth-child(2) {
  background: #4caf50;
  color: white;
}

button:nth-child(3) {
  background: #f44336;
  color: white;
}

button:hover {
  opacity: 0.85;
}
